body{
    background-color: rgb(243, 199, 76);
}

a:hover{
    color :rgb(37, 155, 155)
}

a:visited{
    color :rgb(104, 18, 184)
}

h1{
    background-color: white;
    border : 1px black solid;
    position: relative;
    left: 42%;
    width: 330px;
}

h2{
    text-decoration: overline;
}

#compagnon{
    position: fixed;
    width: 150px;
    top: 50px;
    right: 30px;
}

#github{
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 50%;
}