/*Computer*/
@media all and (min-width : 769px){
html{
    text-align: center;
}

a:hover{
    color :rgb(37, 155, 155)
}

i:hover{
    color :rgb(37, 155, 155)
}

a:visited {
    color :rgb(0, 0, 0)
}

h1{
    background-color: white;
    border-radius: 10px 100px / 120px;
    position: relative;
    left: 42%;
    width: 330px;
}

h2{
    text-decoration: overline;
}

#compagnon{
    position: fixed;
    width: 150px;
    top: 50px;
    right: 30px;
}

body {
	background: #EDEDED;
	color: #AF3D4E;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social i {
	padding: 10px;
    font-size: 3em;
    text-align: center;
}
/*Mot pour Taille*/
#large{
    position :absolute;
    left : 10px;
    font-size: 12px;
    border-top : 1px black solid;
    border-bottom : 1px black solid;
}

#medium{
    display:none;
}
#small{
    display:none;
}
}
/*Smartphone*/
@media all and (max-width : 300px){
    body {
        color : red;
    }
    #medium{
        display:none;
    }
    #large{
        display:none;
    }
    #small{
        position :absolute;
        left : 10px;
        font-size: 12px;
        border-top : 1px black solid;
        border-bottom : 1px black solid;
    }
}
/*Tablette*/
@media all and (min-width : 301px) and (max-width : 768px){
    body{
        color : green;
    }
    #small{
        display:none;
    }
    #large{
        display:none;
    }
    #medium{
        position :absolute;
        left : 10px;
        font-size: 12px;
        border-top : 1px black solid;
        border-bottom : 1px black solid;
    }
}