html{
    text-align: center;
}

a:hover{
    color :rgb(37, 155, 155)
}

i:hover{
    color :rgb(37, 155, 155)
}

a:visited {
    color :rgb(0, 0, 0)
}

h1{
    background-color: white;
    border-left : 1px black solid;
    border-right : 1px black solid;
    border-top : 1px black dashed;
    border-bottom : 1px black dashed;
    position: relative;
    left: 42%;
    width: 330px;
}

h2{
    text-decoration: overline;
}

#compagnon{
    position: fixed;
    width: 150px;
    top: 50px;
    right: 30px;
}

body {
	background: #EDEDED;
	color: #AF3D4E;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social i {
	padding: 10px;
    font-size: 3em;
    text-align: center;
}